
.customButton1 {
  border: none;
  box-shadow: 0px 0px 4px silver;
  border-radius: 0;
  color:  white;
  background: #44b78b;
  transition: 0.4s;
}

.customButton1:active, .book:active, .book-open:active {
  transition: 0s !important;
}

.customButton1:hover {
  background: #3b9975;
  border-color: #3b9975;
  color: white;

}

.customButton1:focus {
  box-shadow: 3px 3px 4px #eaeaea;
}





.customButton1-outline {

  box-shadow: 0px 0px 4px silver;
  border-radius: 0;
  color:  #3b9975;
  background: transparent;
  transition: 0.4s;
  border-color: #3b9975;
}

.customButton1-outline:active, .book:active, .book-open:active {
  transition: 0s !important;
}

.customButton1-outline:hover {
  background: #3b9975;
  border-color: #3b9975;
  color: white;

}

.customButton1-outline:focus {
  box-shadow: 3px 3px 4px #eaeaea;
}