Django==2.1.*
django-ckeditor
Pillow
django-filter==2.2.0
Unidecode
unicodedata2
django-taggit
django-currentuser
django-crispy-forms
sorl-thumbnail
django-recaptcha
django-cookie-law
django-admin-interface
