{% extends 'articles/base.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% load thumbnail %}



{% block meta %}
<meta name="description" content="">
{% endblock %}

{% block title %}
<title>Profile</title>
{% endblock %}

{% block links %}
<link rel="stylesheet" href="{% static 'users/css/profile.css' %}">
<link rel="stylesheet" href="{% static 'articles/css/custom-buttons.css' %}">
{% endblock %}

{% block main %}
{% include 'articles/navigation.html' %}

  <div id="profile">

    

    <div class="container" style="margin-bottom: 15px;">

     
        
        <div id="profileImageDiv">
          <div>
            {% if user.profile.profile_image %}
            <div id="profileImage" style="background-image: url({{profile.profile_image.url}});">
              <div id="profileImageInner">
                <i class="far fa-edit"></i>
              </div>
            </div>
            {% else %}
            <div id="firstLetterImage">
              <div id="firstLetterImageInner">
                <span>{{user.username|upper|first}}</span>
              </div>
            </div>
            {% endif %}
          </div>

          <div style="margin-left:15px;">
            <h6><i class="far fa-user"></i> {{user.username}}</h6>
            <h6><i class="far fa-envelope"></i> {{user.email}}</h6>
            {% if request.user.is_superuser %}
            <h6>Status : Superuser</h6>
            {% elif request.user.is_staff %}
            <h6>Status : Staff</h6>
            {% else %}
            <h6>Status : Member</h6>
            {% endif %}
          </div>
        </div>

        <form id="profile_image_form" action="." method="POST" enctype="multipart/form-data" style="margin-bottom: 30px;" onchange="submitOnLoad()">
          {% csrf_token %}
          {{form.profile_image}}
        </form>

      

      
      

      
    </div>


    <div class="container">
      <h5>Last read articles...</h5>
    <div class="row">
        {% for view in viewed_articles %} 
          <div class="col-12 col-sm-6 col-xl-3">
            <a href="{% url 'article' view.article.slug %}">
              <div style="margin-top:15px;" class="card viewed-article-card">
                {% thumbnail view.article.image "500x500" quality=91 as im %}
                <div class="viewed-article-image-div" style="background-image: url({{im.url}});">
                  <div class="viewed-article-image-div-inner">
                    <span class="viewed-article-category-title">{{view.article.category.title}}</span>
                  </div>
                </div>
                {% endthumbnail %}
                <div class="card-body" style="display: flex; flex-direction: column; justify-content: space-between;">
                  <div class="fade-div">
                    <small class="viewed-article-title" style="color: black;">{{view.article.title}}</small>
                    <p class="fade-effect"></p>
                  </div>
                  <div class="text-muted text-right article-last-viewed-date" >
                    <small>Last read : {{view.created}}</small>
                  </div>
                </div>
                
              </div>
            </a>
          </div> 
        {% endfor %} 
    </div>
  </div>

  <div class="container">

    <div class="btn-group" role="group" aria-label="Basic example">
      <a style="margin-top:4px;" class="btn btn-light" href="{% url 'password_change' %}">
       <small><i class="fas fa-key"></i> Change password</small>
      </a>
      <a style="margin-top:4px;" class="btn btn-light" href="{% url 'logout' %}">
        <small><i class="fas fa-sign-out-alt"></i> Log out</small>
      </a>
      {% if user.is_staff %}
  
      <a style="margin-top:4px;" class="btn btn-light" href="{% url 'authorsArticlesPreview' %}">
        <small><i class="fas fa-feather"></i> Author's panel</small>
      </a>
  
      <a style="margin-top:4px;" class="btn btn-light" href="{% url 'admin:index' %}">
        <small><i class="fa fa-cogs"></i> Admin panel</small>
      </a>
      {% endif %}
    </div>

    

  </div>

</div>
 
{% endblock %}

{% block scripts %}
<script>
  $('#profileImage, #firstLetterImage').click(function(){
    $("#id_profile_image").click();
  });

  function submitOnLoad(){
  $("#profile_image_form").submit();
  };
</script>
{% endblock %}

{% block footer %}
{% include 'articles/footer.html' %}
{% endblock %}
