{% extends 'articles/base.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% load thumbnail %}



{% block meta %}
<meta name="description" content="">
{% endblock %}

{% block title %}
<title>Profile</title>
{% endblock %}

{% block links %}
<link rel="stylesheet" href="{% static 'users/css/profile.css' %}">
<link rel="stylesheet" href="{% static 'articles/css/custom-buttons.css' %}">
{% endblock %}

{% block main %}
{% include 'articles/navigation.html' %}

<ul style="background: #f8f9fa;" class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link btn-light" href="{% url 'password_change' %}">
      <small><i class="fas fa-key"></i></small>
      <small>Αλλαγή κωδικού</small>
     </a>
  </li>
  <li class="nav-item">
    <a class="nav-link btn-light" href="{% url 'logout' %}">
      <small><i class="fas fa-sign-out-alt"></i></small>
      <small>Αποσύνδεση</small>
    </a>
  </li>
  {% if user.is_staff %}

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle btn-light" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      <small><i class="fas fa-feather"></i></small>
      <small>Panel δημιουργού</small>
    </a>

    <div class="dropdown-menu">
      <a class="dropdown-item" href="{% url 'authorsArticlesPreview' %}"><small>Άρθρα</small></a>
      <a class="dropdown-item" href="{% url 'authorsCoursesPreview' %}"><small>Σειρές</small></a>
    </div>
  </li>


  <li class="nav-item">
    <a class="nav-link btn-light" href="{% url 'admin:index' %}">
      <small><i class="fa fa-cogs"></i></small>
      <small> Διαχειριστικό</small>
    </a>
  </li>
  {% endif %}
</ul>

<div style="padding:0; margin-top: 15px;" class="container text-center">
  {% for message in messages %}

  <div style="border-radius:0;" class="alert alert-success alert-dismissible fade show" role="alert">
    <small>{{message}}</small>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  {% endfor %}
</div>

  <div id="profile">

    

    <div class="container">
      
      <div style="border: none !important; margin-bottom: 30px;" class="card">
       
         <small> Άρθρα που παρακολουθήσατε πρόσφατα</small>
         <hr style="margin-top: 4px;">


        {% if viewed_articles %}
        <div style="padding:0;" class="card-body">
          <div class="row">
            {% for view in viewed_articles %} 
              <div class="col-12 col-sm-6 col-xl-3">
                <a href="{% url 'article' view.article.slug %}">
                  <div style="margin-top:15px;" class="card viewed-card">
                    {% thumbnail view.article.image "500x500" quality=91 as im %}
                    <div class="viewed-image-div" style="background-image: url({{im.url}});">
                      <div class="viewed-image-div-inner">
                        <span class="viewed-category-title">{{view.article.category.title}}</span>
                      </div>
                    </div>
                    {% endthumbnail %}
                    <div class="card-body" style="display: flex; flex-direction: column; justify-content: space-between;">
                      <div class="fade-div">
                        <small class="viewed-title" style="color: black;">{{view.article.title}}</small>
                        <p class="fade-effect"></p>
                      </div>
                      <div class="text-muted text-right last-viewed-date" >
                        <small>Last viewed : {{view.created}}</small>
                      </div>
                    </div>
                    
                  </div>
                </a>
              </div> 
            {% endfor %} 
          </div>
        </div>
        {% else %}
        <div class="card-body">
          <h6 class="card-title">Τίποτα ακόμα... <span style="color: #44b78b;"><i class="fas fa-heart-broken"></i></span></h6>
          <div style="width: 100%;" class="">
            <a href="{% url 'articles' %}" class="btn btn-sm btn-outline-dark">Μετάβαση στα άρθρα</a>
          </div>
        </div>
        {% endif %}
      
        
      </div>


      <div style="border: none !important;" class="card">
        
          <small>Σειρές που παρακολουθήσατε πρόσφατα</small>
          <hr style="margin-top: 4px;">
      
     

        {% if viewed_courses %}
        <div style="padding:0; margin-bottom:30px;" class="card-body">
          <div class="row">
            {% for view in viewed_courses %} 
              <div class="col-12 col-sm-6 col-xl-3">
                <a href="{% url 'course' view.course.slug %}">
                  <div style="margin-top:15px;" class="card viewed-card">
                    {% thumbnail view.course.image "500x500" quality=91 as im %}
                    <div class="viewed-image-div" style="background-image: url({{im.url}});">
                      <div class="viewed-image-div-inner">
                        <span class="viewed-category-title">{{view.course.category.title}}</span>
                      </div>
                    </div>
                    {% endthumbnail %}
                    <div class="card-body" style="display: flex; flex-direction: column; justify-content: space-between;">
                      <div class="fade-div">
                        <small class="viewed-title" style="color: black;">{{view.course.title}}</small>
                        <p class="fade-effect"></p>
                      </div>
                      <div class="text-muted text-right last-viewed-date" >
                        <small>Last viewed : {{view.created}}</small>
                      </div>
                    </div>
                    
                  </div>
                </a>
              </div> 
            {% endfor %} 
          </div>
        </div>
        {% else %}
        <div class="card-body">
          <h6 class="card-title">Τίποτα ακόμα... <span style="color: #44b78b;"><i class="fas fa-heart-broken"></i></span></h6>
          <div style="width: 100%;" class="">
            <a href="{% url 'courses' %}" class="btn btn-sm btn-outline-dark">Μετάβαση στις σειρές</a>
          </div>
        </div>
        {% endif %}
      
        
      </div>

  </div>

</div>
 
{% endblock %}

{% block scripts %}
<script>
  $('#profileImage, #firstLetterImage').click(function(){
    $("#id_profile_image").click();
  });

  function submitOnLoad(){
  $("#profile_image_form").submit();
  };

  $(".discussion").click(function () {
    window.location = $(this).find("a").attr("href");
    return false;
  });
</script>
{% endblock %}

{% block footer %}
{% include 'articles/footer.html' %}
{% endblock %}