{% extends 'articles/base.html' %}

{% load static %}

{% block meta %}
<meta name="description" content="">
{% endblock %}

{% block title %}
<title>Blog</title>
{% endblock %}

{% block links %}
<link rel="stylesheet" href="{% static 'articles/css/index.css' %}">
{% endblock %}

{% block main %}
{% include 'articles/sidebar.html' %}
<div id="index1">
  <div class="container">
    <h2 class="d-none d-md-block"><span style="color:#0c4b33;">DJANGO PROJECT : </span><span style="color:#44b78b;">Blog</span></h2>
    <h3 class="d-md-none"><span style="color:#0c4b33;">DJANGO PROJECT : </span><span style="color:#44b78b;"><br>Blog</span></h3>
    <hr>
    <h4 class="d-none d-md-block"><span style="color:#0c4b33;">APPLICATION : </span><span style="color:#44b78b;">articles</span></h4>
    <h5 class="d-md-none"><span style="color:#0c4b33;">APPLICATION : </span><span style="color:#44b78b;"><br>articles</span></h5>
  </div>
</div>
{% endblock %}

{% block scripts %}

{% endblock %}

{% block footer %}
{% include 'articles/footer.html' %}
{% endblock %}
