{% if articles.count != 0 %}
{% for article in articles %}
<div class="col-12 col-xl-6">

  <div class="container">

    <div class="row articleRow">


      <div style="background-image:url({{article.image.url}}); min-height:245px;" class="col-12 col-lg-4 articleImageDiv">
        <a href="{% url 'article' article.slug %}">
          <div class="articleImageDivInner">

          </div>
        </a>
      </div>



      <div class="col-12 col-lg-8">
        <div class="articleInfo">

          <div class="title-Subtitle-Publised-Author">
            <a href="{% url 'article' article.slug %}">
              <h4 class="articleTitle">{{article.title}}</h4>
              <h6 class="articleSubtitle text-muted">{{article.subtitle}}</h6>
              <h6 class="text-muted published"><i class="far fa-calendar-alt"></i> {{article.created}}</h6><br>
            </a>
            <span>Author : {{article.author}}</span>
          </div>


          <div style="display:flex; flex:1; justify-content:space-between; width:100%;">

            <div class="tags">
              <div>
                {% for tag in article.tags.all %}
                <button type="button" class="btn btn-light btn-sm">#{{ tag }}</button>
                {% endfor %}
              </div>
            </div>

            <a href="{% url 'article' article.slug %}">
              <button type="button" class="btn btn-outline-dark readArticle">Read article <br><i class="fas fa-book book"></i> <i style="display:none;" class="fas fa-book-open book-open"></i></button>
            </a>

          </div>

        </div>
      </div>
    </div>


  </div>

</div>
{% endfor %}

{% else %}
<div class="text-center" id="no-articles-returned" style="width:100%; height:100%; min-height: calc(100vh - 52px); display:flex; flex-direction:column; justify-content:center; align-items:center;">
  <h3 class="d-none d-md-flex">No articles for this particular search...</h3>
  <h4 class="d-md-none">No articles for this particular search...</h4>
  <i style="color:#44b78b;" class="fas fa-heart-broken fa-2x"></i>
</div>
{% endif %}
