{% extends 'articles/base.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% load thumbnail %}

{% block meta %}
<meta property="og:image" content="{{article.image.url}}" />
<meta name="description" content="{{article.subtitle}}">
<script async src="https://platform-api.sharethis.com/js/sharethis.js#property=5e8cc79c5d9bf5001283b977&product=sticky-share-buttons"></script>
{% endblock %}

{% block title %}
<title>{{article.title}}</title>
{% endblock %}

{% block links %}
<link rel="stylesheet" href="{% static 'articles/css/articles.css' %}">
<link rel="stylesheet" href="{% static 'articles/css/article.css' %}">

<link href="{% static 'ckeditor/ckeditor/plugins/codesnippet/lib/highlight/styles/obsidian.css' %}" rel="stylesheet">
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/plugins/codesnippet/lib/highlight/highlight.pack.js' %}"></script>
<script>
  hljs.initHighlightingOnLoad();
</script>
{% endblock %}

{% block main %}
{% include 'articles/navigation.html' %}
{% include 'articles/search_articles_results.html' %}

<div id="articleImageDiv">
  <div class="container">
    <h1 class="articleTitle d-none d-md-block">{{article.title}}</h1>
    <h4 class="articleTitle d-md-none">{{article.title}}</h4>

    <h5 class="articleSubtitle d-none d-md-block">{{article.subtitle}}</h5>
    <h6 class="articleSubtitle d-md-none">{{article.subtitle}}</h6>

  </div>
  <div id="articleImage" style="background-image:url({{article.image.url}}); filter:blur(5px);">
  </div>
</div>

<div id="article1">
  <div class="container">
    {{article.article|safe}}
  </div>
</div>

<!--WRITE A COMMENT-->
{% endblock %}

{% block scripts %}
<script src="{% static 'articles/js/article_special_navigation.js' %}"></script>

<script type="text/javascript">
  $(document).ready(function() {
    $("pre code").parent().css("background-color", "#282B2E");
  });
</script>

<script type="text/javascript">
  $(document).ready(function() {

    $('#search-articles-form')[0].reset();

    $('#nav-tools-search').click(function() {
      $('#search-articles-results').css({'display':'flex'});
      var initialSerializedData = $("#search-articles-form").serialize();
      $.ajax({
        type: 'POST',
        url: "{% url 'ajaxArticles' %}",
        data: initialSerializedData,
        success: function(data) {
          //reset the form after successful submit
          $("#search-articles-results").html(data);
        },
        error: function(response) {
          console.log(response);
        }
      });
    });

    $('#nav-tools-close').click(function() {
      $('#search-articles-results').fadeOut();
      $('#search-articles-form')[0].reset();
    });

    $("#nav-tools-searchInput").keyup(function() {
      $("#searchButton").click();
    });
    $("#search-articles-form").submit(function(e) {
      // prevent from normal form behaviour
      e.preventDefault();
      // serialize the form data
      var serializedData = $(this).serialize();

      $.ajax({
        type: 'POST',
        url: "{% url 'ajaxArticles' %}",
        data: serializedData,
        success: function(data) {
          //reset the form after successful submit
          $("#search-articles-results").html(data);
        },
        error: function(response) {
          console.log(response);
        }
      });
    });

  });
</script>
{% endblock %}

{% block footer %}
{% include 'articles/footer.html' %}
{% endblock %}
