{% extends 'articles/base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block meta %}
<meta name="description" content="">
{% endblock %}

{% block title %}
<title>{{article.title}}</title>
{% endblock %}

{% block links %}
<link rel="stylesheet" href="{% static 'articles/css/article.css' %}">
{% endblock %}

{% block main %}
{% include 'articles/navigation.html' %}


<div id="articleImageDiv">
  <div class="container">
    <h1 class="articleTitle d-none d-md-block">{{article.title}}</h1>
    <h4 class="articleTitle d-md-none">{{article.title}}</h4>

    <h5 class="articleSubtitle d-none d-md-block">{{article.subtitle}}</h5>
    <h6 class="articleSubtitle d-md-none">{{article.subtitle}}</h6>

  </div>
  <div id="articleImage" style="background-image:url({{article.image.url}}); filter:blur(5px);">
  </div>
</div>

<div id="article1">
  <div class="container">
    {{article.article|safe}}
  </div>
</div>

<div id="comments" class="container">

  <h3 style="margin-bottom:25px;"><i class="far fa-comments"></i> Discusion</h3>
  {% for comment in comments %}

  <div class="media">

    {% if comment.author_image != '' %}
    <img src="{{comment.author_image.url}}" class="mr-3" alt="...">
    {% else %}
    <div id="visitorCommentImageDiv" class="mr-3">
      <span>{{comment.author|first|capfirst}}</span>
    </div>
    {% endif %}

    <div class="media-body">

      <h5 class="mt-0">{{comment.author}} <span style="font-size:14px;" class="text-muted"><i class="far fa-calendar-alt"></i> {{comment.created_date}}</span></h5>
      <span>{{comment}}</span><br>


      {% for subcomment in subcomments %}
      {% if subcomment.comment == comment %}
      <div class="media mt-3">

        {% if subcomment.author_image != '' %}
        <img src="{{comment.author_image.url}}" class="mr-3" alt="...">
        {% else %}
        <div id="visitorCommentImageDiv" class="mr-3">
          <span>{{subcomment.author|first|capfirst}}</span>
        </div>
        {% endif %}

        <div class="media-body">
          <h5 class="mt-0">{{subcomment.author}} <span style="font-size:14px;" class="text-muted"><i class="far fa-calendar-alt"></i> {{subcomment.created_date}}</span></h5>
          <span>{{subcomment}}</span><br>
        </div>
      </div>
      {% endif %}
      {% endfor %}
      <div class="text-right" style="width:100%;">
        <button id="writeComment" type="button" class="btn btn-sm">
          <i class="fas fa-pen-nib"></i> Respond
        </button>
      </div>
    </div>
  </div>
  {% endfor %}


  <!-- Button trigger modal -->
  <button id="writeComment" type="button" class="btn" data-toggle="modal" data-target="#exampleModalCenter">
    <i class="fas fa-pen-nib"></i> Write a comment
  </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Comment</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="." method="POST">
        <div class="modal-body">

            {% csrf_token %}
            <div style="display:none;">
              {{comment_form.article|as_crispy_field}}
            </div>
            {{comment_form.author|as_crispy_field}}
            {{comment_form.text|as_crispy_field}}

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Commit comment</button>
        </div>
        </form>
      </div>
    </div>
  </div>

</div>

<!--WRITE A COMMENT-->



{% endblock %}

{% block scripts %}
<script type="text/javascript">
  $('img').addClass('img-fluid');
</script>

<script src="{% static 'articles/js/article_special_navigation.js' %}"></script>
{% endblock %}

{% block footer %}
{% include 'articles/footer.html' %}
{% endblock %}
