{% extends 'articles/base.html' %}

{% load static %}
{% load thumbnail %}
{% load articles %}

{% block meta %}
<meta name="description" content="">
{% endblock %}

{% block title %}
<title>Articles - {{category.title}} - Phoenix Feather</title>
{% endblock %}

{% block links %}
<link rel="stylesheet" href="{% static 'articles/css/articles.css' %}">
{% endblock %}

{% block main %}
{% include 'articles/navigation.html' %}

<div style="padding-top:15px; padding-bottom:15px; background:#f9f9f9; " class="container-fluid text-center">
  <h3 data-aos='fade-right' data-aos-duration='1000'>{{category.title}}</h3>
</div>

<div style="display: flex; justify-content: flex-end; align-items: center; padding-top:15px;" class="container-fluid">
  <a href="{% url 'articles:articlesCategory' category.slug %}">
    <div style="height: 100%; width:32px; display: flex; flex-direction: column; justify-content: center; align-items: center;">
      <i style="color: #44b78b;" class="fas fa-redo"></i>
    </div>
  </a>
  <form id="articles-search-form" action="{% url 'articles:articlesCategory' category.slug %}" method="POST">
    <!--input with id = "nav-tools-searchInput" -->
    {% csrf_token %}
    {{articles_Filter.form.search}}
    <button id="articles-search-submit" class="btn btn-outline-success" type="submit"><i class="fas fa-search"></i></button>
  </form>
</div>

<!--ARTICLES-->
<div id="articles1">
  <div class="container-fluid">
    <div id="articlesContainer" class="row infinite-container">

      {% if articles.count != 0 %}
      {% for article in page_obj %}
      <div class="col-12 col-xl-6 infinite-item">
        <div class="container-fluid">
          <a href="{% url 'articles:article' article.slug %}">
            <div class="row articleRow">
              {% thumbnail article.image "500x500" quality=91 as im %}
              <div style="background-image:url({{im.url}});" class="col-12 col-sm-6 col-xl-5 articleImageDiv">
                  {% if article.subtitle %}
                  <div class="articleImageDivInner">
                    <span class="article-subtitle">{{article.subtitle}}</span>
                  </div>
                  {% endif %}
              </div>
              {% endthumbnail %}
              <div class="col-12 col-sm-6 col-xl-7">
                <div class="articleInfo">
  
                  <div class="title-Subtitle-Publised-Author">
                      <h4 class="articleTitle">{{article.title}}</h4>
                    <h6 class="text-muted published"><i class="far fa-calendar-alt"></i> {{article.publish_date}}</h6><br>
                  </div>
                  <div style="display:flex; flex:1; justify-content:space-between; width:100%;">
                    <div class="tags">
                      <div>
                        {% for tag in article.tags.all %}
                        <span>#{{ tag }}</span>
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      {% endfor %}


      {% else %}
        <div class="text-center" id="no-articles-returned" style="width:100%; height:100%; min-height: calc(100vh - 52px); display:flex; flex-direction:column; justify-content:center; align-items:center;">
          <h3 class="d-none d-md-flex">Δεν βρέθηκαν άρθρα...</h3>
          <h4 class="d-md-none">Δεν βρέθηκαν άρθρα...</h4>
          <i style="color:#44b78b;" class="fas fa-heart-broken fa-2x"></i>
        </div>
      {% endif %}

    </div>
  </div>
</div>

{% if page_obj.has_next %}
<a class="infinite-more-link" href="{% my_url page_obj.next_page_number 'page' request.GET.urlencode %}"></a>
{% endif %}
<div style="display: flex; justify-content: center; align-items: center; width: 100%;">
  <div class="justify-content-center loading" style="display:none;">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
</div>

<!--
    <div style="display: flex; justify-content: center; align-items: center; width: 100%; margin-top:15px;" class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a class="btn btn-light" href="{% my_url 1 'page' request.GET.urlencode %}"><i class="fas fa-angle-double-left"></i></a>
            <a class="btn btn-light" href="{% my_url page_obj.previous_page_number 'page' request.GET.urlencode %}"><i class="fas fa-angle-left"></i></a>
        {% endif %}

        {% if page_obj.has_previous or page_obj.has_next %}
          <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
          </span>
        {% endif %}

        {% if page_obj.has_next %}
            <a class="btn btn-light" href="{% my_url page_obj.next_page_number 'page' request.GET.urlencode %}"><i class="fas fa-angle-right"></i></a>
            <a class="btn btn-light" href="{% my_url page_obj.paginator.num_pages 'page' request.GET.urlencode %}"><i class="fas fa-angle-double-right"></i></a>
        {% endif %}
    </span>
  </div>
  -->
  
{% endblock %}


{% block scripts %}
<script src="{% static 'articles/core/infinite/jquery.waypoints.js' %}"></script>
<script src="{% static 'articles/core/infinite/infinite.js' %}"></script>
<script>
  var infinite = new Waypoint.Infinite({
    element: $('.infinite-container')[0],
    onBeforePageLoad: function() {
      $('.loading').show();
    },
    onAfterPageLoad: function($items) {
      $('.loading').hide();
    }
  });
</script>

{% endblock %}

{% block footer %}
{% include 'articles/footer.html' %}
{% endblock %}
