{% extends 'articles/base.html' %}

{% load static %}

{% block meta %}
<meta name="description" content="">
{% endblock %}

{% block title %}
<title>{{article.title}}</title>
{% endblock %}

{% block links %}
<link rel="stylesheet" href="{% static 'articles/css/article.css' %}">
{% endblock %}

{% block main %}
{% include 'articles/navigation.html' %}


<div id="articleImageDiv">
  <div class="container">
    <h1 class="articleTitle d-none d-md-block">{{article.title}}</h1>
    <h4 class="articleTitle d-md-none">{{article.title}}</h4>

    <h5 class="articleSubtitle d-none d-md-block">{{article.subtitle}}</h5>
    <h6 class="articleSubtitle d-md-none">{{article.subtitle}}</h6>

  </div>
  <div id="articleImage" style="background-image:url({{article.image.url}}); filter:blur(5px);">
  </div>
</div>

<div id="article1">
  <div class="container">
    {{article.article|safe}}
  </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
  $('img').addClass('img-fluid');
</script>

<script src="{% static 'articles/js/article_special_navigation.js' %}"></script>
{% endblock %}

{% block footer %}
{% include 'articles/footer.html' %}
{% endblock %}
