{% load static %}
<!doctype html>
<html lang="en">

<head>

  <title>Shiny Little Helper</title>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{% static 'articles/core/bootstrap/css/bootstrap.min.css' %}">
  <!-- Personal CSS -->
  <link rel="stylesheet" href="{% static 'articles/css/base.css' %}">

  <link rel="stylesheet" href="{% static 'articles/css/sophyCV.css' %}">

  <!-- Fontawesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap" rel="stylesheet">
  <!--favicon for browser tabs-->
  <link rel="shortcut icon" href="" />
  <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">


</head>

<body>

  <div style="height: 100vh; width:100vw; background:white; display: flex; flex-direction: column; justify-content: center; align-items: center; position: fixed; top: 0; left:0;" id="curtain">
    <img style="max-width: 320px;" src="{% static 'articles/material/general/littleHelper.png' %}" alt="">
    <img style="margin-top:15px; max-height: 50px;" src="{% static 'articles/material/general/loading.gif' %}" alt="">
  </div>

   <div style="min-height:100vh; margin-top: 0px; margin-bottom: 60px; position: relative;" class="cv-block">
    <img src="{% static 'articles/material/general/flower1.jpg' %}" style="position: absolute; top: -90px; left: -90px; width:250px; z-index:-1;">
    <img src="{% static 'articles/material/general/flower3.jpg' %}" style="position: absolute; bottom: -90px; right: -90px; width:250px; z-index:-1;">
    <img class="d-none d-md-block" src="{% static 'articles/material/general/flower5.jpg' %}" style="position: absolute; top: -90px; right: 100px; width:250px; z-index:-1;">
    <img class="d-none d-md-block" src="{% static 'articles/material/general/flower5.jpg' %}" style="position: absolute; bottom: -150px; left: -100px; width:250px; z-index:-1;">
    <div id="first-info" style="display: flex;">
      <div id="profile-picture-div">
        <div id="profile-picture" style="background-image: url({% static 'articles/material/general/cutty.jpg' %});">
        </div>
      </div>
      <div id="first-info-div" class="text-center">
        <h4 style="color: black;">Σοφία Γεώργα</h4>
        <small style="color: black;">Πανεπιστήμιο Δυτικής Αττικής</small>
        <small style="color: black;">Τμήμα Μηχανολόγων Μηχανικών </small>
        <small style="color: black;">22 ετών</small>
        <small style="margin-top: 30px;"><i class="fas fa-envelope"></i> sofiageorga97@outlook.com</small>
        <small><i class="fas fa-mobile-alt"></i> 6981073018</small>
      </div>
    </div>
   </div>


   <div style="padding: 15px;" class="cv-block">
     <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 my-auto">
          <h3>Είσαι δημιουργικός άνθρωπος;</h3>
          <article>
            Από μικρή μου άρεσαν τα μαστορέματα και οι χειροτεχνίες. Όλα ξεκίνησαν από την νηπιαγωγό κυρία Έλλη. 
            Μας έμαθε να κεντάμε σαλιγκάρια σε χαρτόνια και να γεμίζουμε λευκές κόλλες χαρτί με μαρκαδόρους και μπογιές. 
            Ακόμα και σήμερα, στον ελεύθερό μου χρόνο, συνεχίζω να ζωγραφίζω και να δημιουργώ κατασκευές με διάφορα υλικά.
          </article>
        </div>
        <div class="col-12 col-md-6">
          <div style="max-width: 600px; margin-top:30px;">
            <div class="carousel carousel-main" data-flickity>
              <div class="carousel-cell" style="background-image: url({% static 'articles/material/general/snail.jpg' %});"></div>
              <div class="carousel-cell" style="background-image: url({% static 'articles/material/general/paint.jpg' %});"></div>
            </div>
          </div>
        </div>
      </div>
     </div>
  </div>

  <div style="background: #ffe9d3; padding: 15px;" class="cv-block">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-6">
          <img class="img-fluid" src="{% static 'articles/material/general/multitasking.png' %}" alt="">
        </div>
        <div class="col-12 col-sm-6 my-auto">
          <h3 style="color: black;">Το 'χεις με το multitasking;</h3>
          <article style="color: black;">
            Το προσπαθώ αρκετά και το πετυχαίνω... τις περισσότερες φορές. Δουλεύω part-time σε κατάστημα με βιολογικά προϊόντα
            και speciality espresso <a style="color: #78a8bc;" href="https://www.instagram.com/kukuowl.athens/" target="_blank">(kukuowl.athens)</a> και αρκετές φορές 
            έχει χρειαστεί να κόβω καφέ, μπανάνες για smoothies καθώς και την ψυχή μου προσπαθώντας να μην αφήσω κάποιον σε αναμονή.
          </article>
       </div>
      </div>
    </div>
   </div>

 <div style="padding: 15px;" class="cv-block">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 my-auto">
        <h3>Σου αρέσει η οργάνωση;</h3>
        <article>
          Θα είμαι ειλικρινής. Μου αρέσει η οργάνωση, βάζω κι εγώ το λιθαράκι μου στη μείωση της εντροπίας,
          παρ' όλα αυτά υπάρχουν στιγμές αταξίας στην καθημερινότητά μου.
        </article>
      </div>
      <div class="col-12 col-sm-6">
        <img class="img-fluid" src="{% static 'articles/material/general/messy.jpg' %}" alt="">
     </div>
  </div>
</div>
</div>

<div style="margin-bottom: 60px;" class="cv-block">
  <div class="container text-left">
    <h3>Γνωρίζεις το A Shiny Day;</h3>
    <article>
      Aνακάλυψα το Α Shiny Day τον τελευταίο χρόνο. Εντυπωσιάστηκα, ενθουσιάστηκα, ταυτίστηκα κι ακολούθησα στην πράξη...
    </article>
    <div style="margin-top:30px;" class="gallery js-flickity" data-flickity-options='{ "wrapAround": true }'>
      <div class="gallery-cell" style="background-image: url({% static 'articles/material/general/shirt1.jpg' %});"></div>
      <div class="gallery-cell" style="background-image: url({% static 'articles/material/general/shirt3.jpg' %});"></div>
      <div class="gallery-cell" style="background-image: url({% static 'articles/material/general/shirt2.jpg' %});"></div>
    </div>
  </div>
</div>

<div style="background: #ffe9d3; margin-bottom: 15px;" class="cv-block">
  <div class="container">
    <h3>Έχεις ασχοληθεί ποτέ με προγράμματα της Adobe;</h3>
    <article>
      Πριν λίγες μέρες εγκατέστησα το Illustrator στο laptop μου και δύο φίλοι μου, μου έκαναν δώρο online μάθημα για illustration στο Udemy! 
    </article>
  </div>
</div>

<div class="cv-block">
  
  <div class="container">
    <h3>Ασχολείσαι με την χειροτεχνία;</h3>
    <article style="margin-bottom: 30px;">
      Ασχολούμαι από μικρή. Είναι για μένα ένας τρόπος να χαλαρώνω και να χαρίζω όμορφα πράγματα στους δικούς μου ανθρώπους. 
      Για 4 χρόνια έκανα μαθήματα χειροτεχνίας σε παιδάκια δημοτικού. Πλάκα είχε... μέχρι που ανακάλυψαν το glitter.
    </article>

    <div class="gallery js-flickity" data-flickity-options='{ "wrapAround": true }'>
      <div class="gallery-cell" style="background-image: url({% static 'articles/material/general/children1.jpg' %});"></div>
      <div class="gallery-cell" style="background-image: url({% static 'articles/material/general/children2.jpg' %});"></div>
      <div class="gallery-cell" style="background-image: url({% static 'articles/material/general/children3.jpg' %});"></div>
    </div>

  </div>
</div>

<div style="padding-top:60px; padding-bottom:30px;" class="cv-block">
  <div class="container">

    <div class="row">
      <div class="col-12 col-sm-6 my-auto">
        <h3>Κατηγοριοποιείς τις κάλτσες σου ανά χρώμα;</h3>
        <article>
          Οι κάλτσες μου μοιράζονται το ίδιο συρτάρτι με τις κάλτσες του αδερφού μου. Τις περισσότερες φόρες είναι όλες μπερδεμένες μαζί και καταλήγουμε να φοράμε ο ένας τις κάλτσες του άλλου. Τουλάχιστον είμαι ήσυχη για τις παρδαλές.
        </article>
      </div>
      <div class="col-12 col-sm-6 text-center">
        <img style="transform: rotate(4deg); max-height:320px; margin-top: 15px; margin-bottom: 15px;" class="img-fluid" src="{% static 'articles/material/general/socks.jpg' %}" alt="">
     </div>

  </div>
</div>
</div>

<div style="background: #ffe9d3;" class="cv-block">
  <div class="container">
    <h3>Έχεις άνεση με την επικοινωνία;</h3>
  <article>Αμεεέ...</article>
  </div>
</div>

<div style="padding-bottom: 15px;" class="cv-block">
  <div class="container">

    <div class="row">
      <div class="col-12 col-sm-6 my-auto">
        <h3>Πίνεις πολύ νερό;</h3>
        <article>
          Όχι, ΑΛΛΑ... πριν δύο μήνες αγόρασα λουλουδάτο θερμός και προσπαθώ πλέον να πίνω όσο περισσότερο μπορώ. 
        </article>
      </div>
      <div class="col-12 col-sm-6 text-center">
        <img style="max-height:320px; border-radius: 10px; margin-top:15px;" class="img-fluid" src="{% static 'articles/material/general/bottle.jpg' %}" alt="">
     </div>

  </div>
</div>
</div>


</body>

<script src="{% static 'articles/core/jquery/jquery-3.4.1.js' %}"></script>
<script src="{% static 'articles/core/popper/popper.min.js' %}"></script>
<script src="{% static 'articles/core/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

<script>
  $(document).ready(function(){
    $('#curtain').delay(2000).fadeOut(1000);
  });
</script>

</html>
