{% extends 'articles/base.html' %}

{% load static %}
{% load thumbnail %}

{% block meta %}
<meta name="description" content="">
{% endblock %}

{% block title %}
<title>Homepage</title>
{% endblock %}

{% block links %}
<link rel="stylesheet" href="{% static 'articles/css/index.css' %}">
<link rel="stylesheet" href="{% static 'articles/css/articles.css' %}">
{% endblock %}

{% block main %}
{% include 'articles/navigation.html' %}

<div style="background-image:url({% static 'articles/material/index/homepage_wallpaper.jpg' %});" id="index1">
  <div id="index1Inner">
      <h1 class="d-none d-md-block" style="font-size:80px; color:white;">Django Blog</h1>
      <h3 class="d-none d-md-block" style="color:white;">The D is silent...</h3>

      <h1 class="d-md-none" style="font-size:60px; color:white;">Django Blog</h1>
      <h4 class="d-md-none" style="color:white;">The D is silent...</h4>
  </div>
</div>

<div id="categories-container-wrapper" style="padding-top:15px; padding-bottom:15px; background:#f9f9f9;" class="text-center">
  {% for category in categories %}
  <div class="categories-container">
    <a href="{% url 'articlesCategory' category.slug %}">
      {% thumbnail category.image "200x200" quality=91 as im %}
      <div style="background-image:url({{im.url}});" class="category-image-div">
      </div>
      {% endthumbnail %}
    </a>
    <a href="{% url 'articlesCategory' category.slug %}">
      <div class="category-info">
        <span class="category-title" style="margin:0;">{{category.title}}</span>
        <div class="category-count">
          <span>{{category.articles_count}}</span>
        </div>
      </div>
    </a>
  </div>
  {% endfor %}

</div>

<div id="recent-articles-container" class="container-fluid">
  <div class="row">
    {% for article in recent_articles %}

    <div class="col-12 col-xl-6 infinite-item">
      <div class="container-fluid">
        <a href="{% url 'article' article.slug %}">
          <div class="row articleRow">
            {% thumbnail article.image "500x500" quality=91 as im %}
            <div style="background-image:url({{im.url}});" class="col-12 col-sm-5 col-lg-4 articleImageDiv">

                {% if article.subtitle or article.category %}
                <div class="articleImageDivInner">
                  <span class="article-category">{{article.category.title}}</span>
                  <span class="article-subtitle">{{article.subtitle}}</span>
                </div>
                {% endif %}

            </div>
            {% endthumbnail %}
            <div class="col-12 col-sm-7 col-lg-8">
              <div class="articleInfo">
                <div class="title-Subtitle-Publised-Author">
                    <h4 class="articleTitle">{{article.title}}</h4>
                    {% if article.subtitle %}
                      <div style="margin-bottom:7.5px;" class="fade-div d-xl-none">
                        <h6 class="articleSubtitle text-muted">{{article.subtitle}}</h6>
                        <p class="fade-effect"></p>
                      </div>
                    {% endif %}
                  <h6 class="text-muted published"><i class="far fa-calendar-alt"></i> {{article.publish_date}}</h6><br>
                  <span class="author">Author : {{article.author}}</span>
                </div>
                <div style="display:flex; flex:1; justify-content:space-between; width:100%;">
                  <div class="tags">
                    <div>
                      {% for tag in article.tags.all %}
                      <span>#{{ tag }}</span>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    {% endfor %}

  </div>
</div>

{% endblock %}

{% block scripts %}

{% endblock %}

{% block footer %}
{% include 'articles/footer.html' %}
{% endblock %}
