{% extends 'articles/base.html' %}

{% load static %}

{% block meta %}
<meta name="description" content="">
{% endblock %}

{% block title %}
<title>Homepage</title>
{% endblock %}

{% block links %}
<link rel="stylesheet" href="{% static 'articles/css/index.css' %}">
{% endblock %}

{% block main %}
{% include 'articles/navigation.html' %}

<div style="background-image:url({% static 'articles/material/index/homepage_wallpaper.jpg' %});" id="index1">

</div>

{% endblock %}

{% block scripts %}

{% endblock %}

{% block footer %}
{% include 'articles/footer.html' %}
{% endblock %}
