{% extends 'articles/base.html' %}

{% load static %}
{% load thumbnail %}

{% block meta %}
<meta name="description" content="">
{% endblock %}

{% block title %}
<title>Informations - Phoenix Feather</title>
{% endblock %}

{% block links %}
<link rel="stylesheet" href="{% static 'articles/css/informations.css' %}">

<style>
    #navbarFAQs, #sidebarFAQs{
    color: #44b78b;
  }
</style>
{% endblock %}

{% block main %}
{% include 'articles/navigation.html' %}

<div style="background: #f8f9fa; padding-top: 15px; padding-bottom: 15px;">
    <div class="container">
        <blockquote class="blockquote  text-center">
            <p style="font-size: 16px;">
                Αχ! σπούδασα φιλοσοφία
            και νομική και ιατρική,
            και, αλίμονο, θεολογία
            με κόπο και μ’ επιμονή·
            και να ‘μαι ‘δω με τόσα φώτα,
            εγώ μωρός, όσο και πρώτα!
            </p>
            <footer class="blockquote-footer"><cite title="Source Title">Faust</cite></footer>
          </blockquote>
    </div>
</div>

<div id="info1" style="padding-bottom: 30px;">
      
</div>

{% endblock %}

{% block scripts %}
<script>
    $('#navbarFAQs , #sidebarFAQs').click(function(e) { 
      e.preventDefault();
    });
  </script>
{% endblock %}

{% block footer %}
{% include 'articles/footer.html' %}
{% endblock %}
