.categories-container-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 100vw;
  overflow-x: auto;
}

.categories-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: box-shadow 0.4s ease;
  cursor: pointer;
  margin-left: 15px;
  border-top-right-radius: 5px;
  box-shadow: 3px 3px 4px #d9d9d9;
}

.categories-container:hover {
  box-shadow: 3px 3px 4px silver;
}

.category-image-div {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 55px;
  width: 75px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.category-info {
  height: 55px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding-left: 15px;
  padding-right: 30px;
  white-space: nowrap;
  border-top-right-radius: 5px;


  border-width: 1px;
  border-color: #eaeaea;
  color: #4d4d4d;
  position: relative;
}

@media only screen and (max-width: 575px) {
  .category-image-div {
    height: 35px;
    width: 50px;
  }
  .category-info {
    height: 35px;
  }
}

.category-count {
  height: 16px;
  width: 16px;
  background: #eaeaea;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 4px;
  right: 4px;
  font-size: 14px;
  font-weight: bold;
  text-shadow: 1px 1px 2px gray;
}

#articles1 {
  /*min-height: calc(100vh - 75px - 52px);*/
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 15px;
}

#no-articles-returned {
  min-height: calc(100vh - 85px - 75px - 52px - 53px) !important;
  margin-top: -15px;
}

.articleRow {
  box-shadow: 0px 0px 10px #eaeaea;
  margin-bottom: 30px;
  transition: box-shadow 0.4s ease;
  background: white;
}

.articleRow:hover {
  box-shadow: 0px 0px 10px #cdcdcd;
}

.articleInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
}

.title-Subtitle-Publised-Author {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.articleImageDiv {
  padding: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 5px 0 5px -5px silver;
  min-height: 225px;
}

@media screen and (max-width:575px) {
  .articleImageDiv{
    box-shadow: 0 4px 2px -2px #cdcdcd;
  }
}



@media only screen and (max-width: 575px) {
  .articleRow, .articleImageDiv, .articleImageDivInner {
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
  }
}

.articleImageDivInner {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0%;
  transition: opacity 0.4s ease;
  padding:15px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.article-category, .article-subtitle{
  color: #fff;
}

.article-category{
  font-size: 18px;
  font-weight: bold;
}
.article-subtitle{
  color: #fff;
  font-size: 13.2px;
}

@media only screen and (max-width: 1400px) {
  .article-category{
    font-size: 17px;
  }
  .article-subtitle{
    font-size: 12.2px;
  }
}

@media only screen and (min-width: 1200px) {
  .articleRow:hover >  .articleImageDiv .articleImageDivInner {
    opacity: 100%;
  }
}





@media only screen and (max-width: 992px) {
  .articleImageDiv, .articleImageDivInner {
    min-height: 225px;
  }
}

.title-Subtitle-Publised-Author .articleTitle {
  margin-top: 7px;
  color: black;
  font-size: 1.05rem;
}

.author {
  font-family: 'Didact Gothic', sans-serif;
  margin: 0;
  font-weight: normal;
  color: gray;
  font-size: 13.2px;
}

.published {
  margin-top: 4px;
  font-size: 13.2px;
}

.articleSubtitle{
  font-size:13.2px;
}

@media only screen and (max-width: 768px) {
  .articleTitle {
    font-size: 21px;
  }

  .articleImageDiv {
    padding-right: 0;
  }
}



.tags {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  margin-top: 15px;
  margin-bottom: 15px;
}

.tags span {
  border: none;
  border-radius: 0;
  box-shadow: 1px 1px 2px #dedede;
  color: #a8a8a8;
  padding-left: 2px;
  padding-right: 2px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background: #fafafa;
  font-size:13.2px;
}

.tags button:hover {
  background: #ebebeb;
}

.fade-div {
  height: 35px;
  position: relative;
  overflow: hidden;
}

.fade-effect {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 35px 0;
  background-image: linear-gradient(to bottom, transparent, transparent, transparent, white);
}

#articles-search-form{
  display:flex;
}

@media only screen and (max-width: 768px) {
  #articles-search-form{
    width: 100%;
  }
}

#articles-search-input{
  border-right: none;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}


#articles-search-input:focus{
  border-color: #44b78b;
  box-shadow: none;
}

#articles-search-submit{
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-color: #44b78a;
  
}

#articles-search-submit:hover{
  background: #44b78a !important;
}