#index1{

  height: calc(100vh - 75px - 52px);/*minus navbar & footer height*/
  width: 100%;

  display: flex;
  flex-direction: column;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width:768px){
  #index1{
    height: calc(100vh - 52px - 52px);/*minus navbar & footer height*/
  }
}

#navbarHome, #sidebarHome{
  display: none;
}
