{% extends 'courses/base.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% load thumbnail %}
{% load courses %}
{% load hitcount_tags %}

{% block meta %}
<meta property="og:image" content="{{course.image.url}}" />
<meta name="description" content="{{course.description}}">
<script async src="https://platform-api.sharethis.com/js/sharethis.js#property=5e8cc79c5d9bf5001283b977&product=sticky-share-buttons"></script>
{% endblock %}

{% block title %}
<title>{{course.title}} - {{page_obj.object_list.0.title}}</title>
{% endblock %}

{% block links %}
<link rel="stylesheet" href="{% static 'courses/css/course.css' %}">
{% endblock %}

{% block main %}

{% if not_approved_course %}
<div id="suspicious">
  <i style="color: #44b78b;" class="fas fa-question fa-4x"></i>
  <p>Not quite sure what you are looking for...</p>
  <a href="{% url 'index' %}"><p style="color: #44b78b;">Back to home</p></a>
</div>
{% else %}

{% include 'articles/navigation.html' %}
<div id="scroll-course-bar" style="position:fixed; top:0; left:0; width:0%; height:4px; background:#44b78b; z-index:802;">
</div>
<div id="courseImageDiv">
  <div id="courseImageDivInner">
    {% if course.use_image_as_background_in_course %}
  <div class="container">
    <h1 class="courseTitle d-none d-md-block">{{course.title}} - {{page_obj.object_list.0.title}}</h1>
    <h2 class="courseTitle d-md-none">{{course.title}} - {{page_obj.object_list.0.title}}</h2>

    <!--PAGINATION BUTTONS-->
    <div style="padding-top:15px;">
      <span  class="step-links">
        {% if page_obj.has_previous %}
            <a class="btn btn-sm btn-light" href="?page=1"><i class="fas fa-angle-double-left"></i></a>
            <a class="btn btn-sm btn-light" href="?page={{ page_obj.previous_page_number }}"><i class="fas fa-angle-left"></i></a>
        {% endif %}
    
        {% if page_obj.has_previous or page_obj.has_next %}
          <span class="current courseTitle">
            Module {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
          </span>
        {% endif %}
    
        {% if page_obj.has_next %}
            <a class="btn btn-sm btn-light" href="?page={{ page_obj.next_page_number }}"><i class="fas fa-angle-right"></i></a>
            <a class="btn btn-sm btn-light" href="?page={{ page_obj.paginator.num_pages }}"><i class="fas fa-angle-double-right"></i></a>
        {% endif %}
      </span>
    </div>
  </div>
    {% thumbnail course.image "800x800" quality=61 as im %}
    <div class="courseImage" style="background-image:url({{im.url}}); filter:blur(10px);">
    </div>
    {% endthumbnail %}
  </div>
  {% else %}
  <div id="courseNoBackground">
    <div class="container">
      <h1 class="courseTitleNoBackground d-none d-md-block">{{course.title}} - {{page_obj.object_list.0.title}}</h1>
      <h2 class="courseTitleNoBackground d-md-none">{{course.title}} - {{page_obj.object_list.0.title}}</h2>

      <!--PAGINATION BUTTONS-->
      <div style="padding-top:15px;">
        <span  class="step-links">
          {% if page_obj.has_previous %}
              <a class="btn btn-sm btn-light" href="?page=1"><i class="fas fa-angle-double-left"></i></a>
              <a class="btn btn-sm btn-light" href="?page={{ page_obj.previous_page_number }}"><i class="fas fa-angle-left"></i></a>
          {% endif %}
      
          {% if page_obj.has_previous or page_obj.has_next %}
            <span class="current courseTitleNoBackground">
              Module {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>
          {% endif %}
      
          {% if page_obj.has_next %}
              <a class="btn btn-sm btn-light" href="?page={{ page_obj.next_page_number }}"><i class="fas fa-angle-right"></i></a>
              <a class="btn btn-sm btn-light" href="?page={{ page_obj.paginator.num_pages }}"><i class="fas fa-angle-double-right"></i></a>
          {% endif %}
        </span>
      </div>

    </div>
  </div>
  {% endif %}
  
</div>


</div>




<!--SOCIAL SHARE BUTTONS-->
<div id="social-share-desktop">
  <div data-network="facebook" class="btn btn-light st-custom-button"><i class="fab fa-facebook-f"></i></div>
  <div data-network="messenger" class="btn btn-light st-custom-button"><i class="fab fa-facebook-messenger"></i></div>
  <div data-network="twitter" class="btn btn-light st-custom-button"><i class="fab fa-twitter"></i></div>
  <div data-network="linkedin" class="btn btn-light st-custom-button"><i class="fab fa-linkedin-in"></i></div>
  <div data-network="pinterest" class="btn btn-light st-custom-button"><i class="fab fa-pinterest-p"></i></div>
</div>
<div id="social-share-mobile">
  <div data-network="facebook" class="btn btn-light st-custom-button"><i class="fab fa-facebook-f"></i></div>
  <div data-network="messenger" class="btn btn-light st-custom-button"><i class="fab fa-facebook-messenger"></i></div>
  <div data-network="twitter" class="btn btn-light st-custom-button"><i class="fab fa-twitter"></i></div>
  <div data-network="linkedin" class="btn btn-light st-custom-button"><i class="fab fa-linkedin-in"></i></div>
  <div data-network="pinterest" class="btn btn-light st-custom-button"><i class="fab fa-pinterest-p"></i></div>
</div>

<!--COURSE BODY-->
<div id="course1">
  <div class="container">
    <div style="width: 100%; display: flex; justify-content: space-between; align-items: center;">
      <div>
        <div class="d-none d-md-block">
          <span>Course views <i class="far fa-eye"></i> : <span style="color:#44b78b;">{% get_hit_count for course %}</span></span>
          <span style="margin-left:12px;">Module comments <i class="far fa-comments"></i> : <a style="color:#44b78b;" href="?page={{ page_obj.number }}#disqus_thread"></a></span>
        </div>
        <div class="d-md-none">
          <span>Course views <i class="far fa-eye"></i> : <span style="color:#44b78b;">{% get_hit_count for course %}</span></span><br>
          <span>Module comments <i class="far fa-comments"></i> : <a style="color:#44b78b;" href="?page={{ page_obj.number }}#disqus_thread"></a></span>
        </div>
      </div>
      <div>
      <button id="text-size-increase" class="btn btn-light"><i style="font-size: 12px;" class="fas fa-font"></i><sup><i style="font-size:10px;" class="fas fa-plus"></i></sup></button>
      <button id="text-size-decrease" class="btn btn-light"><i style="font-size: 12px;" class="fas fa-font"></i><sup><i style="font-size:10px;" class="fas fa-minus"></i></sup></button>
      </div>
    </div>
    <hr>
    <div id="course-div">
      {{page_obj.object_list.0.module|safe}}
    </div>
      
      <div style="display: flex; justify-content: center; align-items: center; width: 100%; margin-top:15px;" class="pagination">
        <!--PAGINATION BUTTONS-->
        <span  class="step-links">
          {% if page_obj.has_previous %}
              <a class="btn btn-dark" href="?page=1"><i class="fas fa-angle-double-left"></i></a>
              <a class="btn btn-dark" href="?page={{ page_obj.previous_page_number }}"><i class="fas fa-angle-left"></i></a>
          {% endif %}
      
          {% if page_obj.has_previous or page_obj.has_next %}
            <span class="current courseTitleNoBackground">
              Module {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>
          {% endif %}
      
          {% if page_obj.has_next %}
              <a class="btn btn-dark" href="?page={{ page_obj.next_page_number }}"><i class="fas fa-angle-right"></i></a>
              <a class="btn btn-dark" href="?page={{ page_obj.paginator.num_pages }}"><i class="fas fa-angle-double-right"></i></a>
          {% endif %}
        </span>
      
    </div>
  </div>
</div>


<!-- DISQUS COMMENTS -->
<div id="comments">
  <div id="end-of-course" style="padding-top:10vh; padding-bottom:10vh; display:flex; justify-content:center;">
    <div>
      <h2 style="font-family: 'Stalemate', cursive; margin:0; font-weight:bold; color:silver;">End of module <i class="fas fa-feather-alt"></i></h2>

    </div>
  </div>

  <div class="container">
    <div id="disqus_thread"></div>
    <script>
    var disqus_config = function () {
    this.page.url = '{{request.build_absolute_uri}}';
    this.page.identifier = 'module-{{module.id}}';
    };

    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://phoenixfeather-1.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>
</div>
{% endif %}

<!-- Button trigger modal -->
<div id="modules-menu-trigger" data-toggle="modal" data-target="#all-modules-modal">
  <i id="modules-menu-open" class="fas fa-th"></i>
  <i id="modules-menu-close" class="fas fa-times" style="display:none;"></i>
</div>

<div id="modules-menu-wrapper">
</div>

  <div id="modules-menu">
    <div id="modules-menu-inner">
      <div style="width: 100%; padding-top: 15px; padding-bottom: 15px;" class="text-center">
        <span>{{course.title}}</span>
      </div>
     
      
      <ul style="padding:0px; list-style-type:none;">
        {% for module in modules %}
        <a href="?page={{modules|get_index:module}}">
          <li id="module-{{module.id}}" class="module-link">
            <span>{{module.title}}</span>
          </li>
        </a>
        <hr style="margin:0;">
      {% endfor %}
      </ul>
    </div>
  </div>



{% if course.author == request.user.username %}
<a href="{{course.get_admin_url}}">
  <div id="edit-course">
    <i class="fas fa-feather"></i>
  </div>
</a>
{% endif %}

{% endblock %}

{% block scripts %}
<script src="{% static 'courses/js/course_special.js' %}"></script>

<script>
  $( "iframe" ).wrap( "<div class='responsive-media'></div>" );
</script>

<script>
  var current_module = "#module-{{page_obj.object_list.0.id}}";
  $(current_module).css({'background':'#fbfbfb','color':'#44b78b'});
</script>

<script type="text/javascript">
  $(document).ready(function() {
    $("pre code").parent().css("background-color", "#282B2E");
    $(window).scroll(function() {
      var course_height = $('#courseImageDiv').height() + $('.navHBlock').height() + $('#course1').height() + $('#end-of-course').outerHeight();
      var percentage_covered = ($(window).scrollTop() / (course_height-$(window).height()))*100 + '%';
      $("#scroll-course-bar").css("width", percentage_covered);
    });
  });
</script>

<script type="text/javascript">
  $("#text-size-increase").click(function() {
    text_array = ['p','small','span','article','h1','h2','h3','h4','h5','h6']
    $.each( text_array, function( index, value ){
      var fontSize = parseFloat($('#course-div ' + value).css("font-size"));
      fontSize = fontSize + 1 + "px";
      $('#course-div ' + value).css({'font-size':fontSize});
    });
  });

  $("#text-size-decrease").click(function() {
    text_array = ['p','small','span','article','h1','h2','h3','h4','h5','h6']
    $.each( text_array, function( index, value ){
      var fontSize = parseFloat($('#course-div ' + value).css("font-size"));
      fontSize = fontSize - 1 + "px";
      $('#course-div ' + value).css({'font-size':fontSize});
    });
  });
</script>

{% endblock %}
{% block footer %}


{% if not course.publish_date > current_datetime and not course.author != request.user.username %}
{% include 'articles/footer.html' %}
<div id="social-share-mobile-footer-save">

</div>
{% endif %}

{% endblock %}
