{% extends 'articles/base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block meta %}
<meta name="description" content="">
{% endblock %}

{% block title %}
<title>Σύνδεση</title>
{% endblock %}

{% block links %}
<link rel="stylesheet" href="{% static 'users/css/login.css' %}">
<link rel="stylesheet" href="{% static 'articles/css/custom-buttons.css' %}">
{% endblock %}

{% block main %}

<div id="login">

  <div class="container-fluid">
    <div class="row">


      <div id="loginFormContainer" class="col-12 my-auto">

        <a href="{% url 'index' %}">
          <img style="max-height: 55px; margin-bottom:30px; cursor: pointer;" src="{% static 'articles/material/logo/phoenix_feather_logo_3.png' %}" alt="">
        </a>

      

        <form method="post">
          {% csrf_token %}
          {{form|crispy}}
          <button type="submit" class="btn btn-block customButton1">Σύνδεση</button>
        </form>

        <div style="margin-top:7px;">
          <a href="{% url 'password_reset' %}"><small style="color:#44b78b;">Ξεχάσατε τον κωδικό σας;</small></a>
        </div>

        <div style="margin-top:32px;" class="text-center">
          <small class="text-muted">Δεν είστε μέλος ακόμα; Δημιουργήστε τώρα έναν δωρεάν λογαριασμό.</small><br>
          <a href="{% url 'signup' %}">
            <button style="margin-top:7px; box-shadow:none;" type="submit" class="btn btn-sm customButton1-outline">Δημιουργία λογαριασμού</button>
          </a>

        </div>
      </div>



    </div>
  </div>

</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
  $("#id_username").attr("placeholder", "Email");
  $("#id_password").attr("placeholder", "Κωδικός");
</script>
{% endblock %}

{% block footer %}
{% include 'articles/footer.html' %}
{% endblock %}
