{% extends 'articles/base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block meta %}
<meta name="description" content="">
{% endblock %}

{% block title %}
<title>Ο κωδικός άλλαξε επιτυχώς!</title>
{% endblock %}

{% block links %}
<link rel="stylesheet" href="{% static 'users/css/change_password.css' %}">
<link rel="stylesheet" href="{% static 'articles/css/custom-buttons.css' %}">
{% endblock %}

{% block main %}
<div id="change-password">

  <a href="{% url 'index' %}">
    <img style="max-height: 55px; margin-bottom:30px; cursor: pointer;" src="{% static 'articles/material/logo/phoenix_feather_logo_3.png' %}" alt="">
  </a>

  <div style="max-width:590px; margin-bottom:30px;" class="text-center">
    <h5>Ο κωδικός άλλαξε επιτυχώς!</h5>
    <h6>Μπορείτε να <a href="{% url 'login' %}"><span style="color:#44b78b;">συνδεθείτε.</span></a>.</h6>
  </div>

</div>
{% endblock %}

{% block scripts %}

{% endblock %}

{% block footer %}

{% endblock %}
