{% extends 'articles/base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block meta %}
<meta name="description" content="">
{% endblock %}

{% block title %}
<title>Change password - Phoenix Feather</title>
{% endblock %}

{% block links %}
<link rel="stylesheet" href="{% static 'users/css/change_password.css' %}">
<link rel="stylesheet" href="{% static 'articles/css/custom-buttons.css' %}">
{% endblock %}

{% block main %}
<div id="change-password">

  <form method="post">
    {% csrf_token %}
    {{form|crispy}}
    <button type="submit" class="btn btn-block customButton1">Change password</button>
  </form>

</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
  $("#id_old_password").attr("placeholder", "Old password");
  $("#id_new_password1").attr("placeholder", "New password");
  $("#id_new_password2").attr("placeholder", "New password confirmation");
</script>
{% endblock %}

{% block footer %}
{% endblock %}
