{% extends 'articles/base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block meta %}
<meta name="description" content="">
{% endblock %}

{% block title %}
<title>Password change instructions - Phoenix Feather</title>
{% endblock %}

{% block links %}
<link rel="stylesheet" href="{% static 'users/css/change_password.css' %}">
<link rel="stylesheet" href="{% static 'articles/css/custom-buttons.css' %}">
{% endblock %}

{% block main %}
<div id="change-password">

  <div style="max-width:590px; margin-bottom:30px;">
    <h6>We have sent you instructions on how to change your password. If there is an account linked to the email you entered, you will receive the instructions shortly. If you did not receive the email, please check again if you entered the correct email as well as your spam emails.</h6>
  </div>

  <a href="{% url 'index' %}" class="btn customButton1">Return to homepage</a>
</div>
{% endblock %}

{% block scripts %}

{% endblock %}

{% block footer %}

{% endblock %}
