{% extends 'articles/base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block meta %}
<meta name="description" content="">
{% endblock %}

{% block title %}
<title>Οδηγίες αλλαγής κωδικού</title>
{% endblock %}

{% block links %}
<link rel="stylesheet" href="{% static 'users/css/change_password.css' %}">
<link rel="stylesheet" href="{% static 'articles/css/custom-buttons.css' %}">
{% endblock %}

{% block main %}
<div id="change-password">

  <a href="{% url 'index' %}">
    <img style="max-height: 55px; margin-bottom:30px; cursor: pointer;" src="{% static 'articles/material/logo/phoenix_feather_logo_3.png' %}" alt="">
  </a>

  <div style="max-width:590px; margin-bottom:30px;">
    <h6>Σας έχουμε αποστείλει οδηγίες σχετικά με την αλλαγή του κωδικού. Αν υπάρχει λογαριασμός συνδεδεμένος με το email που καταχωρήσατε, θα λάβετε σύντομα τις οδηγίες. Αν δεν λάβατε το email, παρακαλούμε ελέγξτε και πάλι αν καταχωρήσατε το σωστό email καθώς και τα ανεπιθύμητα (spam) email σας.</h6>
  </div>

  <h6 class="text-center">Επιστροφή στην <a href="{% url 'index' %}"><span style="color:#44b78b;">αρχική σελίδα</span> </a></h6>


</div>
{% endblock %}

{% block scripts %}

{% endblock %}

{% block footer %}

{% endblock %}
