{% extends 'articles/base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block meta %}
<meta name="description" content="">
{% endblock %}

{% block title %}
<title>Password reset complete</title>
{% endblock %}

{% block links %}
<link rel="stylesheet" href="{% static 'users/css/change_password.css' %}">
<link rel="stylesheet" href="{% static 'articles/css/custom-buttons.css' %}">
{% endblock %}

{% block main %}
{% include 'articles/navigation.html' %}
<div id="change-password">

    <div style="max-width:590px; margin-bottom:30px;">
      <h5 class="d-none d-md-block">Password changed successfully. You can now <a href="{% url 'login' %}"><span style="color:#44b78b;">log in</span></a>.</h5>
      <h6 class="d-md-none">Password changed successfully. You can now <a href="{% url 'login' %}"><span style="color:#44b78b;">log in</span></a>.</h6>
    </div>

</div>
{% endblock %}

{% block scripts %}

{% endblock %}

{% block footer %}
{% include 'articles/footer.html' %}
{% endblock %}
