.vCheckboxLabel{
    font-weight: bold;
}

.inline-related h3{
    border: none;
    font-size: 20px;
    margin-bottom: 30px;
    color: #44b78b;
    padding: 15px !important;
} 

.inline-related h3 b{
    display: none;
} 

#modules_set-group .module h2{
    padding: 15px;
 
    text-align: center;
    font-size: 18px;
}