#forum1{
  min-height: calc(100vh - 90px - 87px - 52px);
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center;

  padding: 0px 15px 15px 15px;
}

body{
  padding-right: 0 !important;
}



.discussion{

    margin-bottom: 15px;
    padding: 15px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    border-left: solid;
    border-color: #44b78b;
    border-width: 1px;

    box-shadow: 0px 0px 10px #e8e8e8;
    transition: 0.4s;
    cursor: pointer;
    color: #4d4d4d;
}

.discussion:hover{
    box-shadow: 0px 0px 10px silver;
}

.create-discussion{
  height: 57px;

  border-radius: 10px;

  padding:15px 7.5px 15px 7.5px;

  box-shadow: 0px 0px 10px silver;

  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
  color: #44b78b;
  transition: box-shadow 0.4s;
  cursor: pointer;
  background: white;
}

.create-discussion:hover{
  box-shadow: 0px 0px 10px gray;
}

.forum-login-modal label{
  display: none;
}

.forum-login-modal input:focus {
  box-shadow: none !important;
  border-color: #44b78b !important;
}

.forum-create-discussion-modal input:focus {
  box-shadow: none !important;
  border-color: #44b78b !important;
}

.g-recaptcha {
  transform:scale(0.77);
}


#discussions-search-form{
  display:flex;
  
}

@media only screen and (max-width: 425px) {
  #discussions-search-form{
    width: 100%;
  }

  #forum1{
    min-height: calc(100vh - 155px - 87px - 52px);
  }
}

#search-and-create-discussions{
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  padding-top:15px; 
  padding-bottom:15px; 
  margin-bottom: 15px; 
  background: #f9f9f9;
}

@media only screen and (max-width: 425px) {
  #search-and-create-discussions{
    flex-direction: column;
  }

  .create-discussion-wrapper{
    margin-bottom: 15px;
    width: 100%;
  }
}

#discussions-search-input{
  border-right: none;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

#discussions-search-input::placeholder{
  font-size: 12.2px;
}

#discussions-search-input:focus{
  border-color: #44b78b;
  box-shadow: none;
}

#discussions-search-submit{
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.django-ckeditor-widget{
width: 100% !important;
}