#signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 75px);
}

#nav-tools-trigger {
  display: none;
}



input:focus{
  box-shadow: none !important;
  border-color: #44b78b !important;
}

#id_captcha{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:15px;
}


#signupImage {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 !important;

  height: 100vh;
}

#signupImageInner {
  width: 100%;
  height: 100%;
  background: rgba(68, 183, 139, 0.75);
}

@media screen and (max-width:991px) {
  #signupImage  {
    height: 45vh;
  }
}


#signupFormContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-top: 30px;
  padding-bottom: 30px;
  min-height: 50vh;
}

.asteriskField {
    display: none;
}

label{
  display: none;
}

#id_first_name::placeholder,#id_last_name::placeholder,#id_email::placeholder,#id_password1::placeholder,#id_password2::placeholder{
  font-size: 1rem;
}

#hint_id_first_name,#hint_id_last_name,#hint_id_email,#hint_id_password1,#hint_id_password2{
  font-size: 11.5px;
}

.g-recaptcha {
  transform:scale(0.77);
}

#footer{
  box-shadow: none !important;
  background: transparent !important;
}

body{
background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%) !important;
}

#id_phone_0{
  width: 50% !important;
  display: inline;
}


#id_phone_1{
  width: calc(50% - 4px) !important;
  display: inline;
  margin-left:4px;
}

#div_id_first_name, #div_id_last_name{
  display: inline-table;
  width: 50%;
}

#id_first_name{
  width: 100% !important;
  display: inline;
}


#id_last_name{
  width: calc(100% - 4px) !important;
  display: inline;
  margin-left:4px;
}

