{% extends 'articles/base.html' %}

{% load static %}
{% load thumbnail %}

{% load hitcount_tags %}

{% block meta %}
<meta name="description" content="">
{% endblock %}

{% block title %}
<title>{{discussion.title}} - Το Φτερό του Φοίνικα</title>
{% endblock %}

{% block links %}
<link rel="stylesheet" href="{% static 'forum/css/discussion.css' %}">

<link href="{% static 'ckeditor/ckeditor/plugins/codesnippet/lib/highlight/styles/obsidian.css' %}" rel="stylesheet">
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/plugins/codesnippet/lib/highlight/highlight.pack.js' %}"></script>
<script>
  hljs.initHighlightingOnLoad();
</script>
{% endblock %}

{% block main %}
{% include 'articles/navigation.html' %}


<div style="background: #f9f9f9; width: 100%; padding: 30px 0px 4px 0px; ">
  <div style="margin-bottom:30px;" class="container">

    <div style="width: 100%; margin-bottom:30px;" >
      <h3 class="d-none d-md-block">{{discussion.title}}</h3>
      <h5 class="d-md-none">{{discussion.title}}</h5>

      
    </div>
    
    {{discussion.discussion|safe}}

    <footer class="blockquote-footer text-center"><cite title="Source Title"><i class="far fa-user"></i> <small>{{discussion.author}}</small></cite></footer>
    
    
  </div>

  <div style="padding-right:15px;" class="text-right">
    <span style="font-size:14px;">Views <i class="far fa-eye"></i> : <span style="color:#44b78b;">{{discussion.hit_count.hits}}</span> | </span>
    <span style="font-size:14px;">Comments <i class="far fa-comments"></i> : <a style="color:#44b78b;" href="{% url 'discussion' discussion.slug discussion.pk %}#disqus_thread"></a></span>
    
  </div>
  
  


</div>
<div style="width: 100%; border-top:solid; margin-bottom: 45px; border-color: #4d4d4d;"></div>




<div class="container">
    <div id="disqus_thread"></div>
    <script>
    var disqus_config = function () {
    this.page.url = '{{request.build_absolute_uri}}';
    this.page.identifier = '{{discussion.slug}}-{{discussion.id}}';
    };

    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://phoenixfeather-1.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>

  


{% endblock %}

{% block scripts %}
<script>
  $("pre code").parent().css("background-color", "#282B2E");
</script>
{% endblock %}

{% block footer %}
{% include 'articles/footer.html' %}
{% endblock %}
