#profile{
  min-height: calc(100vh - 76px - 52px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#nav-tools-trigger{
  display: none;
}


#profileImageDiv{
  height: 120px;
  width: 120px;
  border-radius: 100%;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  box-shadow: 1px 1px 2px silver;
}