#profile{
  min-height: calc(100vh - 76px - 52px);
  padding-top: 15px;
  padding-bottom: 15px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}


#profileImageDiv{
  height: 120px;
  width: 120px;
  border-radius: 100%;
  margin-bottom: 15px;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  box-shadow: 1px 1px 2px silver;
}


#viewed-articles-image-div{
  height: 170px;
  max-height: 170px;


  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.viewed-article-card .card-body{
  min-height: 130px;
}